<template name="cartridges_page">

    <div id="content" class="container">
        <div class="row">
            <div class="span3">
                <legend>
                    Cartridges
                    <div class="btn-group pull-right">
                        <button id="cartridges_page_cartridgeAdd" class="btn btn-small" data-toggle="modal">Add cartridge</button>
                    </div>
                </legend>
                <ul id="cartridges_page_cartridgesList" class="clList nav nav-tabs nav-stacked">
                    {{#each cartridges}}
                    <li class="{{cartridgeSelectedClass}}">
                        <a id="{{_id}}" class="cartridges_page_cartridge {{stateStyle}}" href="#" rel="tooltip" title="{{descr}}">
                            <i class="icon-chevron-right"></i>
                            {{name}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div id="cartridgeBox" class="span9"></div>
        </div>
    </div>

</template>