<template name="place_widget">

    {{#if isVisible}}
        <legend>
            {{place.name}}
            <div class="btn-group pull-right">
                <button id="place_widget_eventAdd" class="btn btn-small">Add event</button>
                <button id="place_widget_placeEdit" class="btn btn-small">Edit</button>
                {{#if canDel}}
                    <button class="btn btn-small btn-danger dropdown-toggle" data-toggle="dropdown">Remove</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">No</a></li>
                        <li><a id="place_widget_placeRemove" href="#">Yes</a></li>
                    </ul>
                {{/if}}
            </div>
        </legend>

        <table class="table table-bordered table-hover" width="100%">
            <thead>
            <tr>
                <th width="60">Date</th>
                <th width="140">Cartridge</th>
                <th width="140">Event</th>
                <th>Comment</th>
                <th width="80"></th>
            </tr>
            </thead>
            <tbody>
                {{#each eventsList}}
                    <tr class="{{eventColor}}">
                        <td>{{eventDate}}</td>
                        <td>{{cartridgeName}}</td>
                        <td>{{eventName}}</td>
                        <td>{{comment}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="place_widget_eventEdit btn btn-mini">Edit</button>
                                <button class="btn btn-danger btn-mini dropdown-toggle" data-toggle="dropdown">Remove</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">No</a></li>
                                    <li><a class="place_widget_eventRemove">Yes</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}

</template>