<template name="login">

<div class="modal hide" id="loginWindow">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Login</h3>
    </div>
    <div class="modal-body">
        <div id="loginAlertBox"></div>
        <p><input id="loginLogin" type="text" class="span3" placeholder="Login"></p>
        <p><input id="loginPassword" type="password" class="span3" placeholder="Password"></p>
    </div>
    <div class="modal-footer">
        <button id="registerBtn" type="submit" class="btn btn-primary">Register</button>
        <button id="loginBtn" type="submit" class="btn btn-success">Sign in</button>
    </div>
</div>

</template>