<template name="eventType_window">

    <div id="eventType_window" class="modal hide fade" role="dialog" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="eventType_window_title">Add Event type</h3>
        </div>
        <div class="modal-body">
            <div id="eventType_window_alert"></div>

            <div class="form-horizontal">

                <div class="control-group">
                    <label class="control-label" for="eventType_window_name">Name</label>
                    <div class="controls">
                        <input id="eventType_window_name" type="text" placeholder="Name">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="eventType_window_descr">Description</label>
                    <div class="controls">
                        <input id="eventType_window_descr" type="text" placeholder="Description">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="eventType_window_color">Color</label>
                    <div class="controls">
                        <input id="eventType_window_color" type="color" placeholder="Color">
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="eventType_window_save" class="btn btn-primary yes">Save</button>
        </div>
    </div>

</template>