#content
    margin-top: 50px;

#cartridgesList li a i
    display: none

#cartridgesList li a.greenState
    background-color: #D0E9C6

#cartridgesList li a.redState
    background-color: #F2DEDE

#cartridgesList li a.orangeState
    background-color: #FCF8E3

#cartridgesList li a.blueState
    background-color: #D9EDF7

#cartridgesList li.active a
    i
        display: inline-block

#printersList li.active a
    i
        display: inline-block