#content
    margin-top: 50px;

.clList li a i
    display: none

.clList li.active a i
    display: inline-block

.table td
    padding: 6px
    line-height: 20px
    font-size: 13px

.table td .btn-group
    height: 20px

.table td .btn-group .btn-mini
    height: 20px;
    line-height: 16px;

.table td .btn-group .dropdown-menu
    padding: 0
    margin: 0