<template name="newPlace">

    <div id="addPlaceWindow" class="modal hide fade" role="dialog" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Add place</h3>
        </div>
        <div class="modal-body">

            <div id="newPlaceAlertBox"></div>

            <div class="form-horizontal">

                <input id="addPlaceWindow_id" type="hidden">

                <div class="control-group">
                    <label class="control-label" for="addPlaceWindow_name">Name</label>
                    <div class="controls">
                        <input id="addPlaceWindow_name" type="text" placeholder="Name">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="addPlaceWindow_descr">Description</label>
                    <div class="controls">
                        <input id="addPlaceWindow_descr" type="text" placeholder="Description">
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary yes">Save</button>
        </div>
    </div>

</template>