<template name="menu_widget">
    {{#if isVisible}}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        {{#if isLogin}}
                            {{#if isAdmin}}
                                <li class="{{isCartridges}}">
                                    <a href="/" data-toggle="modal">Cartridges</a>
                                </li>
                                <li class="{{isPlaces}}">
                                    <a href="/places" data-toggle="modal">Places</a>
                                </li>
                                <li class="{{isPrinters}}">
                                    <a href="/printers" data-toggle="modal">Printers</a>
                                </li>
                                <li class="{{isUsers}}">
                                    <a href="/users" data-toggle="modal">Users</a>
                                </li>
                                <li class="{{isEventTypes}}">
                                    <a href="/eventTypes" data-toggle="modal">Event types</a>
                                </li>
                            {{/if}}
                        {{else}}
                        {{/if}}
                    </ul>
                    {{#if isLogin}}
                        <ul class="nav pull-right">
                            <li>
                                <a href="#">{{currentUser.username}}</a>
                            </li>
                            <li>
                                <a id="menu_widget_logout" href="#">Logout</a>
                            </li>
                        </ul>
                    {{else}}

                    {{/if}}
                </div>
            </div>
        </div>
    {{/if}}
</template>