<template name="curCartridge">

    {{#if isVisible}}
    <legend>
        {{cartridge.name}}
        <div class="btn-group pull-right">
            <button id="addEvent" class="btn btn-small">Add event</button>
            <button id="editCartridge" class=" btn btn-small">Edit</button>
            {{#if canDel}}
            <button class="btn btn-small btn-danger dropdown-toggle" data-toggle="dropdown">Remove</button>
            <ul class="dropdown-menu">
                <li><a href="#">No</a></li>
                <li><a id="removeCurCartridge" href="#">Yes</a></li>
            </ul>
            {{/if}}
        </div>
    </legend>

    <table class="table table-bordered table-hover" width="100%">
        <thead>
        <tr>
            <th width="60">Date</th>
            <th width="140">Event</th>
            <th width="140">Place</th>
            <th>Comment</th>
            <th width="80"></th>
        </tr>
        </thead>
        <tbody>
        {{#each eventsList}}
        <tr class="{{eventColor}}">
            <td>{{eventDate}}</td>
            <td>{{eventName}}</td>
            <td><a class="place" href="#">{{placeName}}</a></td>
            <td>{{comment}}</td>
            <td>
                <div class="btn-group">
                    <button class="editEvent btn btn-mini">Edit</button>
                    <button class="btn btn-danger btn-mini dropdown-toggle" data-toggle="dropdown">Remove</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">No</a></li>
                        <li><a class="removeEvent">Yes</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}

</template>