<template name="cartridgesList">

{{#if isVisible}}
<legend>
    Cartridges
    {{#if isAdmin}}
        <div class="btn-group pull-right">
            <a href="#addCartridgeWindow" class="btn btn-small" data-toggle="modal">Add cartridge</a>
        </div>
    {{/if}}
</legend>

<ul id="cartridgesList" class="nav nav-tabs nav-stacked">
    {{#each cartridges}}
        <li class="{{cartridgeSelectedClass}}">
            <a id="{{_id}}" class="cartridge {{stateStyle}}" href="#" rel="tooltip" title="{{descr}}">
                <i class="icon-chevron-right"></i>
                {{name}}
            </a>
        </li>
    {{/each}}
</ul>
{{/if}}

</template>