<template name="eventTypes_page">

    <div id="content" class="container">
        <div class="row">
            <div class="span12">

                <legend>
                    Event Types
                    <div class="btn-group pull-right">
                        <button id="eventTypes_page_eventTypeAdd" class="btn btn-small" data-toggle="modal">Add event type</button>
                    </div>
                </legend>

                <div id="eventTypes_page_alert"></div>
                <table class="table table-bordered table-hover" width="100%">
                    <thead>
                    <tr>
                        <th width="25%">Name</th>
                        <th>Description</th>
                        <th width="35">Color</th>
                        <th width="30"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each eventTypes}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{descr}}</td>
                                <td class="{{colorStyle}}"></td>
                                <td>
                                    <div class="btn-group">
                                        <button class="eventTypes_page_eventTypeEdit btn btn-mini">Edit</button>
                                        {{#if canDel}}
                                            <button class="btn btn-danger btn-mini dropdown-toggle" data-toggle="dropdown">Remove
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">No</a></li>
                                                <li><a class="eventTypes_page_eventTypeRemove" href="#">Yes</a></li>
                                            </ul>
                                        {{/if}}
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>