<template name="newEventType">

<div id="addEventTypeWindow" class="modal hide fade" role="dialog" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add event type</h3>
    </div>
    <div class="modal-body">
        <div id="newEventTypeAlertBox"></div>

        <div class="form-horizontal">

            <input id="addEventTypeWindow_id" type="hidden">

            <div class="control-group">
                <label class="control-label" for="addEventTypeWindow_name">Name</label>
                <div class="controls">
                    <input id="addEventTypeWindow_name" type="text" placeholder="Name">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="addEventTypeWindow_descr">Description</label>
                <div class="controls">
                    <input id="addEventTypeWindow_descr" type="text" placeholder="Description">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="addEventTypeWindow_color">Color</label>
                <div class="controls">
                    <input id="addEventTypeWindow_color" type="color" placeholder="Color" >
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary yes">Save</button>
    </div>
</div>

</template>