<template name="places">

<div id="placesWindow" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Places</h3>
    </div>
    <div class="modal-body">
        <div id="placesAlertBox"></div>
        <table class="table table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th width="15">Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th width="30"></th>
                </tr>
            </thead>
            <tbody>
                {{#each places}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{descr}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="editPlace btn btn-mini">Edit</button>
                                {{#if canDel}}
                                <button class="btn btn-danger btn-mini dropdown-toggle" data-toggle="dropdown">Remove</button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">No</a></li>
                                    <li><a class="removePlace" href="#">Yes</a></li>
                                </ul>
                                {{/if}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#addPlaceWindow" class="btn" data-toggle="modal">Add place</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

</template>