<template name="placesPageT">

    <div class="row">

        <div class="span3">
            <legend>
                Places
                <div class="btn-group pull-right">
                    <a href="#addPlaceWindow" class="btn btn-small" data-toggle="modal">Add Place</a>
                </div>
            </legend>
            <ul id="placesList" class="clList nav nav-tabs nav-stacked">
                {{#each places}}
                <li class="{{placeSelectedClass}}">
                    <a id="{{_id}}" class="place {{stateStyle}}" href="#" rel="tooltip" title="{{descr}}">
                        <i class="icon-chevron-right"></i>
                        {{name}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>

        <div id="placeBox" class="span9"></div>
    </div>

</template>